
.in
{

background-color: #ECF4F4;
border-radius: 2px;
border: 1px solid #a7cfdf;
}
.bar{
    border: 1px solid black;
}

.capMessag{
	margin-bottom: 20px;
}

.button_sign
{
	background-color:#75D3EE !important;
	border:1px solid #7eb9d0 !important;
}

.button_sign:hover
{
	background-color:#44adc6 !important;
	border :1px solid #7eb9d0 !important;
}
